* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: #e3e6e6;
    font-family: Arial, sans-serif;
}

.topbar {
    background: #0f6b4d;
    padding: 12px;
}

.topbar input {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 12px;
    display: grid;
    gap: 16px;
}

card {
    background: #fff;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.233);
}

.card h2 {
    margin-top: 0;
    font-size: 18px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #087083;
    text-decoration: none;
    font-size: 14px;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.product {
  background: #f7f7f7;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
}

